name: Demo2
on:
  push:
    paths:
      - 'Demo2/Code/**'

jobs:
  test:
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Set up MATLAB
      uses: matlab-actions/setup-matlab@v2

    - name: Run MATLAB tests
      uses: matlab-actions/run-tests@v2
      with:
        source-folder: Demo2/Code
        output-detail: detailed